{% extends 'layout/layout.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {# <script src="{{ asset('assets/js/custom/users.js') }}"></script> #}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 box-default">
              <h1>Gente</h1>
              <div class="count">
                <h3>
                  Total de Usuarios Registrados
                </h3>
                <span class="label label-primary">
                  {{ pagination.getTotalItemCount() }}
                </span>
              </div>
              <div class="box-content box-users">
                {% for user in pagination %}
                  <div class="col-lg-12 user-item">
                    <div class="avatar">
                        {% if user.image == null %}
                        <img src="{{ asset('images/default.png/') }}" />
                        {% else %}
                            <img src="{{ asset('uploads/users/'~user.image) }}" />
                        {% endif %}
                    </div>
                    <div class="user-item-content">
                      <p> {{user.name}} {{user.surname}}</p>
                      <p> {{user.bio}} </p>
                    </div>
                    {% if app.user.id != user.id %}
                      <div class="pull-right buttons-following">
                        <button class="btb btn-success btn-follow" data-followed="{{user.id}}">Seguir</button>
                        <button class="btb btn-danger btn-unfollow" data-followed="{{user.id}}">Dejar de Seguir</button>
                      </div>
                    {% endif %}
                  </div>
                  <div class="clearfix"></div>
                  <hr>
                {% endfor %}
              </div>
              <div class="pagination">
                {{ knp_pagination_render(pagination) }}
              </div>
            </div>
        </div>
    </div>
{% endblock %}